:root {
	/* Brand surface + borders */
	--rf-brand-color-surface: #ffffff;
	--rf-brand-color-text-body: #393551;
	--rf-brand-color-border: #cbc6de;
	--rf-brand-color-primary: #5c00dc;

	/* Buttons */
	--rf-comp-button-primary-color-background: #5c00dc;
	--button-primary-color-on-background: #ffffff;

	/* Brand accents */
	--brand-primary-berry: #e71356;
	--brand-primary-pink: #ed1a5d;
	--brand-secondary-grape: #5c00dc;
	--complimentary-grape-3: #ab99ff;

	/* Neutral + text */
	--neutral-g3: #444444;
	--neutral-white: #ffffff;
	--text-g1-header: #222222;
	--text-g3-text: #444444;
}
