@use "./rf-tokens";
@use "./variables";
@use "./layout";
@use "./typography";
@use "./sections";

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: variables.$font-family-base;
	color: variables.$color-text-body;
	background-color: variables.$color-surface;
	font-weight: variables.$font-weight-regular;
}

body {
	min-height: 100vh;
}

main {
	min-height: 100vh;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}